
<footer>
  <ul class="footerMenu">
    <li>
      <a href="#">about us</a>
    </li>
    <li>
      <a href="#">contact us</a>
    </li>
    <li>
      <a href="#">Copyright &copy; 2014 MyMusicApp.com</a>
    </li>
    <li>
      <a href="#">blog</a>
    </li>
    <li>
      <a href="#">privacy</a>
    </li>
  </ul>
</footer> 